extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/story.css')

block javascript
    script(src='/javascripts/handlebars.template.story.min.js')
    script(src='/javascripts/view.story.js')
    script
        CS.sprint = !{JSON.stringify(sprint)};

block content
    h1 stories!