extends ../layout

block stylesheet
    link(rel='stylesheet', href=url.css('story.css'))

block javascript
    script(src=url.js('template.story.min.js'))
    script(src=url.js('view.story.js'))
    script
        CS.sprint = !{JSON.stringify(sprint)};

block content

    article#story-article.positioned

        ul#story-list