<li class="story-list-item book">
    <div class="book-page-left">
        <h3 class="story-title">
            {{subject}}
        </h3>

    </div>
    <div class="book-page-right">
        checkpoints
        <ul class="checkpoint-list no-style-list" data-role='checkpoint-list'>
            <li data-role='checkpoint-add-btn' class='list-item-add-btn'> + </li>
        </ul>
    </div>
    <div class="book-page-bottom">
    </div>
    <br class="clear"/>
</li>