<li class="story-list-item book">
    <div class="book-page-left">
        <h3 class="story-title">
            {{subject}}
        </h3>

    </div>
    <div class="book-page-right">

    </div>
    <div class="book-page-bottom">
        <ul class="checkpoint-list" data-role='checkpoint-list'>
        </ul>
        <a class="btn" data-role='checkpoint-add-btn'> + new checkpoint</a>

    </div>
    <br class="clear"/>
</li>