<li class="checkpoint-list-item">
    <form>
        <input type="checkbox"
               name="status"
               value="done"
               class="inline-checkbox"
            data-value="{{status}}"
                />
        <input type="text"
                name="text"
                value="{{text}}"
                placeholder="checkpoint"
                data-role='editable-text'
                />
    </form>
</li>