<li class="checkpoint-list-item">
    <form>
        <input type="checkbox"
               name="status"
               value="done"
               class="inline-checkbox"
                />
        <input type="text"
                name="text"
                placeholder="checkpoint"
                data-role='editable-text'
                />
    </form>
</li>