lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

.idea

style.css
index.css
daily.css
setting.css
color.css
think_back.css
bakery.css

npm-debug.log

cnf.auth.js
cnf.url.js

Gemfile.lock