lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

.idea

style.css
index.css
setting.css
color.css
story.css
think_back.css
bakery.css
daily.css

npm-debug.log

#conf.redmine.js

Gemfile.lock

handlebars.template.js
handlebars.template.*.js