extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheet/daily')

block javascript
    script(src='/javascripts/view.daily.js')


block content
    h1 daily !

    section#issue-section
