extends layout

block stylesheet
block content
    br
    br
    h1.center.etched
        span.err-msg
            i oops! somthing is wrong.

        br
        br
        br
        a.btn(href='/') return to top