extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/index.css')

block javascript
    script(src='/javascripts/view.index.js')


block content
    .etched.large
        | #{app.title}


    section#team-select
        - each team in teams
            a(href='/team/#{team.name}')
                | #{team.name}

        a#team-add-btn
