extends layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/setting.css')
block javascript
    script(src='/javascripts/view.setting.js')

block content


    section.paper
        .paper-content
            h1= title
            p Welcome to #{title}


    section#member-section
        span.title members
        ul#mebmer-list.positioned
        a.list-item-add-btn#member-add-btn
            i.icon
                span.add-icon-bar-v
                span.add-icon-bar-h


