<div class="paper-content">
    <form action="/sprint/update" method="POST">
        <input type="hidden" name="_id" value="{{member._id}}"/>
        <h3>sprint
            <input type="number" name="number"
                   class="shortest" value="{{member.number}}"/>
        </h3>
        <input type="text" name="name"
               value = "{{member.name}}"
            />

    </form>
</div>