<div class="paper-content">
    <form>
        <h3>sprint
            <input type="number" name="number"
                   class="shortest" value="{{number}}"/>
        </h3>
        <input type="text" name="name"
               value = "{{name}}"
            />
    </form>
</div>