<li class="routine-list-item positioned">
    <form class="inline-form">
    <small data-role="day-select-wrapper"
           data-name="day"
           data-value="{{day}}">{{day}}</small>
    <input type="text"
           data-role='editable-text'
           name="title"
           value="{{title}}"
            />
        <input type="hidden" name="detail" value="{{detail}}"/>
    </form>
</li>