<form action="">
    <input type="hidden" name="color" value="{{color}}"/>
    <input type="number"
           step="5"
            min="0"
            max="100"
            value="{{percent}}"
            name="percent"
            data-role='editable-text'
            class="shortest"
            />
    % of tasks will be left open on the sprint end
</form>