<div class="paper">
    <div class="paper-content">
        <i class="icon human">
            <span class="part head"></span>
            <span class="part body"></span>
        </i>
        <input type="text" placeholder="{{placeholder}}"
             value="{{value}}"/>
    </div>
</div>