<div class="paper member-list-item-content">
    <div class="paper-content">
        <i class="icon human icon-large">
            <span class="part-head"></span>
            <span class="part-body"></span>
        </i>
        <input type="text" placeholder="{{placeholder}}"
             value="{{value}}"/>
        <br class="clear"/>
    </div>
</div>