@import 'bakery';
@import 'color';

.black-board{
  @darkGreen:#18461A;
  @back:lighten(@darkGreen, 10);
  background-color: @back;
  padding:8px;
  .border-radius(10px 10px 2px 2px);
  .box-shadow(5px 5px 10px, 0.6);
  padding:30px 20px 40px;
  position: relative;
  .radial-gradient(45%, 3%, @back 60%, darken(@back, 7));
}
.black-board-content{
}
.black-board-frame{
  position: absolute;
}
.black-board-frame-bottom{
  bottom:0;
  height: 15px;
  width:100%;
  left:0;
  .linear-gradient(@brown, darken(@brown,10));
  .box-shadow(1px -4px 6px, 0.2);
}
.black-board-item{
  @plain:darken(@white, 8);
  color:@plain;
  border:4px solid @plain;
  .border-radius(4px);
  padding: 5px;
  margin: 5px;
  h3{
    margin: 0;
  }

}
.black-board-highlight{
  color:@yellow;
}