.book-page-left,
.book-page-right{
  width:200px;
}

.inline-checkbox{
  position: relative;
  top:2px;
}

.checkpoint-list-item{
  .list-remove-btn{
    top:4px;
    opacity: 0;
  }
  &:hover{
    .list-remove-btn{
      opacity: 1;
    }
  }

}
