@white:#FEFEFE;
@black:#333;


body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.nav-bar{
  background-color: lighten(@black, 10);

}
.nav-item{
  display: inline-block;
  padding: 5px 10px;
  color:@white;
}

.positioned{
  position: relative;
}
.stick{
  position: absolute;
}
.stick-right{
  .stick;
  right: 5px;
}
.stick-left{
  .stick;
  left: 5px;
}