@white: #feefea;
@black: #332c2e;


body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/texture/purty_wood.png');
  color: @black;
}

a {
  color: #00B7FF;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.nav-bar{
  background-color: lighten(@black, 10);

}
.nav-item{
  display: inline-block;
  padding: 5px 10px;
  color:@white;
}

.positioned{
  position: relative;
}
.stick{
  position: absolute;
}
.stick-right{
  .stick;
  right: 5px;
}
.stick-left{
  .stick;
  left: 5px;
}