body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@black:#333;
#top-nav{
  background-color: lighten(@black, 10);
}
.nav-item{
  display: inline-block;
  padding: 5px 10px;
}