<li class="jenkins-whether-list-item">
    <a href="{{link}}" target="_blank">
        <img src="{{img}}" alt="{{name}}" class="float-left"/>
        <small class="float-left">{{name}}</small>
    </a>
    <span class="float-right">
        <span class="toggle-btn on hidden">
            <span class="pinch">  </span>
            <span class="toggle-btn-left">on</span>
            <span class="toggle-btn-right">off</span>
        </span>
    </span>
    <br class="clear"/>
</li>