<li class="grouping-roulette-item">
    <div class="grouping-roulette-item-inner inner">
        <div class="icon-wrapper">
            <i class="icon human icon-large">
                <span class="part-head part"></span>
                <span class="part-body part"></span>
            </i>
        </div>
        <span class="name">{{name}}</span>
    </div>
</li>