<table>
    <tbody>
    <tr>
        <th>passed_days</th>
        <td>{{passed_days}}</td>
    </tr>
    <tr>
        <th>remain_days</th>
        <td>{{remain_days}}</td>
    </tr>
    </tbody>
</table>
