<table>
    <tbody>
    <tr>
        <th>passed</th>
        <td>{{passed_days}} days</td>
    </tr>
    <tr>
        <th>remain</th>
        <td>{{remain_days}} days</td>
    </tr>
    </tbody>
</table>
