<li class="grouping-roulette-item">
    <div class="grouping-roulette-item-inner inner">
        <div class="icon-wrapper">
            <i class="icon human icon-large">
                <span class="part-head part"></span>
                <span class="part-body part"></span>
            </i>
        </div>
        <form class="inline-form">
            <span class="name">{{name}}</span>
            <input type="hidden" name="name" value="{{name}}"/>
            <input type="hidden" name="absent" value="{{absent}}"/>
            <input type="hidden" name="group" value="{{group}}"/>
        </form>
    </div>
</li>