<div>
    <table class="center-block velocity-report-table">
        <tbody>
        <tr>
            <th>velocity</th>
            <td>
                {{record.per_day}}% per day
            </td>
        </tr>
        <tr>
            <th>remain task</th>
            <td>{{remain.task}}%</td>
        </tr>
        <tr>
            <th>remain days</th>
            <td>{{remain.days}} days</td>
        </tr>
        </tbody>
    </table>
</div>
