<table id="work-hours-table">
    <thead>
    <tr>
        <th> </th>
        {{#each labels}}
        <th>{{this.month}}/{{this.date}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>groups</th>
        {{#each groups}}
            <td>
                <input type="number"
                       class="shortest"
                       name="group"
                       value="{{this}}"
                       data-role="editable-text"
                        />
            </td>
        {{/each}}
    </tr>
    <tr>
        <th>hours</th>
        {{#each hours}}
            <td>
                <input type="number"
                       name="group"
                       class="shortest"
                       value="{{this}}"
                       data-role="editable-text"
                        />
            </td>
        {{/each}}
    </tr>
    </tbody>
</table>