extends ../layout

block stylesheet
    link(rel='stylesheet', href='/stylesheets/rule.css')

block javascript
    script(src='/javascripts/handlebars.rule.min.js')
    script(src='/javascripts/view.rule.js')

block content


    h1 rule!