<li class="style-url-list-item">
    <form>
        <input type="text"
               name="style_url"
               class="longer"
               data-role="editable-text"
               placeholder="stylesheet url"
               value="{{this}}"
                />
    </form>
</li>